<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <?python block meta ?><!-- block meta  --><?python endblock ?>
    <title><?python block title ?> ? <?python endblock ?></title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <?python block beforehead ?><!-- before head  --><?python endblock ?>
</head>
<body>
    <nav class="uk-navbar-container uk-card uk-card-default uk-flex uk-flex-center" uk-sticky="" uk-navbar>
        <div class="uk-navbar-left" style="margin-left: 23%">
            <ul class="uk-navbar-nav">
                <li data-url="blogs" class="uk-animation-slide-top uk-background-muted"><a href="/"><i uk-icon="icon:home" class="uk-margin-small-right"></i> 首页</a></li>
                <li class="uk-animation-slide-top uk-background-muted"><a target="_blank" href="#"><i class="uk-icon-book"></i> 教程</a></li>
                <li class="uk-animation-slide-top uk-background-muted"><a target="_blank" href="#"><i class="uk-icon-code"></i> 源码</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right" style="margin-right: 23%">
            <ul class="uk-navbar-nav">
                <?python if user ?>
                <li class="uk-parent" data-uk-dropdown>
                    <a href="#0"><i class="uk-icon-user"></i> <?= user.name =?></a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                        </ul>
                    </div>
                </li>
                <?python else ?>
                <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                <?python endif ?>
            </ul>
        </div>
    </nav>
    <div class="uk-container uk-container-center">
            <?python block content ?>
            <?python endblock ?>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="#" class="uk-margin-small-right"><img src="/static/css/dist/images/weibo.svg" width="40" height="40"></a>
                    <a target="_blank" href="#" class="uk-margin-small-right"><img src="/static/css/dist/images/wechat.svg" width="40" height="40"></a>
                    <a target="_blank" href="#" uk-icon="icon:github;ratio:2" class="uk-margin-small-right"></a>
                    <a target="_blank" href="#" uk-icon="icon:linkedin;ratio:2" class="uk-margin-small-right"></a>
                    <a target="_blank" href="#" uk-icon="icon:twitter;ratio:2"></a>
                </p>
                <p>Powered by <a href="javascript:;">MyWebapp</a>. Copyright &copy; 2017. </p>
                <p> All rights reserved.</p>
                <img src="/static/css/dist/images/html5.svg" width="40" height="40">
            </div>
        </div>
    </div>
</body>
</html>